ADMIN_API_PORT=7101
PORT=7100
API_BASE_URL=http://localhost:7101
DATABASE_URL=postgresql://postgres:change-me@localhost:5432/postgres?schema=opod
ADMIN_API_KEY=change-me
S3_BUCKET=
AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
S3_PUBLIC_BASE_URL=
